body {
    background-image: url("https://img.freepik.com/free-vector/memphis-beige-paper-collage-brown-abstract-background_53876-99276.jpg?size=626&ext=jpg&ga=GA1.1.1962754010.1706089987&semt=ais.jpg?size");
    
	background-color: #cccccc; 
	height: 500px; 
	background-position: center;
	background-repeat: repeat;
}

.container {
    text-align: center;
}

#task-container {
    max-width: 400px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px #ffb6c1(226, 217, 217, 0.1);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.completed {
    text-decoration: line-through;
    color: #888;
}
